@cL: #555, #999, #ebf0f5, #fff, #1c90f2, #f82d2d;
// 黑色,灰色,,白色,蓝色,红色
@url: ../img;
.transition(@property:all,@duration:1s,@time-function:linear,@delay:0s) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

;
